footer {
    background: #000;
    padding: 20px 0;
}

footer .container {
    justify-content: space-between;
}

footer .left {
    max-width: 200px;
}

footer .left .cop {
    line-height: 16px;
    margin-top: 15px;
    color: #fff;
}

footer .right {
    display: flex;
    width: 100%;
    max-width: 76%;
    justify-content: space-between;
}

footer .right .footer-box h3,
footer .left .footer-box h3 {
    font-size: 18px;
    font-weight: bold;
    color: #dfdfdf;
    margin-bottom: 15px;
}

footer .right .footer-box li,
footer .left .footer-box li {
    display: block;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

footer .right .footer-box.tel ul,
footer .left .footer-box.tel ul {
    padding-left: 25px;
}

footer .right .footer-box.tel img,
footer .right .footer-box.tel svg,
footer .left .footer-box.tel img,
footer .left .footer-box.tel svg {
    position: absolute;
    left: -25px;
    top: 0;
    bottom: 0;
    width: fit-content;
    height: fit-content;
    width: 18px;
    height: 18px;
}

footer .right .footer-box a,
footer .left .footer-box a {
    white-space: nowrap;
    font-size: 15px;
    font-weight: bold;
    color: #dfdfdf;
    margin-bottom: 10px;
    transition: color .25s ease;
}

footer .right .footer-box a:hover,
footer .left .footer-box a:hover {
    color: #D1B000;
}

footer .right .voda:hover svg {
    fill: rgb(90.196078%, 0%, 0%);
}

footer .right .kiev g {
    stroke: #fff;
    transition: stroke .25s ease;
}

footer .right .kiev:hover g {
    stroke: rgb(0, 160, 255);
}

footer .insta #ins_the {
    fill: #000;
    transition: fill .25s ease;
}

footer  .insta #ins_one,
footer  .insta #ins_two {
    fill: #fff;
    transition: fill .25s ease;
}

footer .right .insta:hover #ins_one {
    fill: url(#2c);
}

footer .right .insta:hover #ins_two {
    fill: url(#2d);
}
footer .left .insta:hover #ins_one {
    fill: url(#c);
}

footer .left .insta:hover #ins_two {
    fill: url(#d);
}

footer .right .insta:hover #ins_the {
    fill: #fff;
}

footer .right .telegram #tel_one {
    fill: #fff;
    transition: fill .25s ease;
}

footer .right .telegram #tel_two {
    fill: #000;
    transition: fill .25s ease;
}

footer .right .telegram:hover #tel_one {
    fill: url(#2linear-gradient);
}

footer .right .telegram:hover #tel_two {
    fill: #fff;
}

footer .right .viber #g82 path {
    transition: fill .25s ease, stroke .25s ease;
    fill: #fff;
    stroke: #fff;
}

footer .right .viber:hover #g82 path {
    fill: #7360f2;
    stroke: #7360f2;
}


footer .right .email g path {
    transition: fill .25s ease;
    fill: #fff;
}

footer .right .email:hover g path {
    fill: #00bb28;
}

footer .right svg {
    width: 15px;
    height: 15px;
    margin-right: 5px;
    transition: fill .25s ease;
}

footer .right .social-box,
footer .left .social-box {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 200px;
}

footer .right .social-box a,
footer .left .social-box a {
    height: 40px;
}

footer .right .social-box svg,
footer .left .social-box svg {
    width: 40px;
    height: 40px;
}

footer .footer-box .map {
    white-space: nowrap;
    font-size: 15px;
    font-weight: bold;
    color: #dfdfdf;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

footer .footer-box .map svg {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

footer .left .footer-box {
    display: none;
}

@media screen and (max-width: 1100px) {
    .footer-box.soc {
        display: none;
    }

    footer .left {
        margin-right: 30px;
    }

    footer .left .footer-box {
        display: block;
    }

    footer .logo {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 900px) {
    footer .container {
        align-items: flex-start;
    }

    footer .right {
        flex-wrap: wrap;
    }

    .footer-box.tel {
        width: 100%;
    }

    footer .right .footer-box.tel ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
    }

    footer .right .footer-box.tel li {
        width: fit-content;
        margin-right: 20px;
        margin-bottom: 0;
    }

    footer .right .footer-box.tel svg {
        left: 0;
        position: relative;
    }
}

@media screen and (max-width: 700px) {
    footer .container {
        flex-wrap: wrap;
    }

    footer .right {
        order: 1;
        max-width: 100%;
    }

    footer .left {
        order: 2;
        max-width: 100%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    footer .left .footer-box {
        display: none;
    }

    .footer-box.soc {
        display: block;
    }

    .footer-box.tel {
        width: fit-content;
    }

    footer .right .footer-box.tel ul {
        display: block;
        padding-left: 25px;
    }

    footer .right .footer-box.tel li {
        width: 100%;
        margin-bottom: 15px;
    }

    footer .right .footer-box.tel li svg {
        position: absolute;
        left: -25px;

    }

    .footer-box {
        width: 49%;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 550px) {

    footer .right .footer-box h3,
    footer .left .footer-box h3 {
        font-size: 15px;
        margin-bottom: 10px;
    }

    footer .right .footer-box li,
    footer .left .footer-box li {
        margin-bottom: 0;
    }

    footer .right .footer-box a,
    footer .left .footer-box a {
        font-size: 12px;
    }

    footer .left .cop {
        font-size: 10px;
    }
}

@media screen and (max-width: 500px) {
    footer .right .footer-box.tel ul {
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        justify-content: center;
    }

    footer .right .footer-box.tel h3,
    footer .right .footer-box.soc h3 {
        text-align: center;
    }

    footer .right .footer-box.tel li {
        width: fit-content;
        margin-right: 20px;
        margin-bottom: 0;
    }

    footer .right .footer-box.tel li a {
        align-items: center;
        display: flex;
    }

    footer .right .footer-box.tel li svg {
        left: 0;
        position: relative;
    }

    .footer-box.soc {
        margin: 0 auto 20px;
        width: fit-content;
    }
}